<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <UserName>$TrainingBinus2</UserName>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://trainingbinus2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/bda026af-224f-407e-b2fb-adeee91f9644/resourcegroups/Binus-LMS/providers/Microsoft.Web/sites/TrainingBinus2</ResourceId>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://trainingbinus2.scm.azurewebsites.net/</PublishUrl>
    <TargetFramework>netcoreapp2.1</TargetFramework>
    <SelfContained>false</SelfContained>
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
  </PropertyGroup>
</Project>